
header {
	background-color: #003333;
	
}

.logo {
	padding: 2em;
}

nav a {
	padding: 20px;
	color: white;
	text-decoration: none;
	display: block;
	float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

#home {
	background-image: url(images/sunset.jpg);
	  background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center;
 	background-size: cover;
}