* { margin: 0; padding: 0; }

html, body{
  font-family: 'Open sans', Sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  background-image: url('http://pmdesigns.github.io/unit_8/images/header');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: left;
}

sidebar p{
	text-align: left;
	  font-size: .4em;

}


h1 {
	font-weight: 300;
}

.logo:hover {
  opacity:0.6;
}

.logo {
	margin: 2.5%;
	float: left;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
  overflow: auto;
}

header {
  background: #D97077;
  margin: auto;
  width: 100%;
  opacity: 0.9;
}





nav {
   display: block;
  float: right;
  padding: 10px;
  margin-top: 2em;

}

nav a{
	float: left;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 1em;
}

.arrow {
	margin: auto;
	width: 100%;
	padding: 3em;
	float: left;
}
a:hover  {
  cursor: auto;
   opacity: 0.6;
   border-bottom: 1em;
}

a:active {
  color:#D97077;
  
}

b {
  color: #D97077;
}

.wrapper {
	padding: 3em;
	font-size: 3em;
}

#home {
	color: white;
	width: 100%;
	height: 700px;
	margin: auto;
    font-weight: 300;
}

#work img {
  text-align: center;
  margin: auto;
  display: inline;
}

#work {
  background: white;
  color: #D97077;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  height: 500px;
  }

sidebar {
  float: left;
  display: inline;
  font-size: 3em;
  margin: 10%;
  text-align: center;
  width: 30%;
}


.arrow:hover{
    opacity:0.6;
}


#contact {
	background-color: #D97077;
  color: white;
  width: 100%;
  margin: auto;
  height: 500px;
  float: left;
  }

  #contact h1 {
  	text-align: center;
  	font-size: 4em;
  	margin: auto;
  	padding: 2.5em;
  }

/*need to change? */
footer {
  font-weight: 200;
  font-size: 1em;
  text-align: center;
  padding: 2em;
  margin: 5%;
  height: 3em;
  padding-bottom: 2em;



}
span {
	height: 2em;
	visibility: hidden;
  display: block;
  content: " ";
}

footer a {
  padding: 2em;
  margin: auto;
  
}

@media (max-width: 800px) { 
.img, nav {width: 47%; height: auto; display: inline; margin: 1%;}
	.logo {width: 40%;}
}

@media (max-width: 480px) {
 
}
