* { margin: 0; padding: 0; }

body {
  font-family: 'Open sans', Sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  background-image: url('http://pmdesigns.github.io/unit_8/images/header');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
}

.logo:hover {
  opacity:0.6;
}

header {
  background: #D97077;
  position: fixed;
  margin: auto;
  width: 100%;
  opacity: 0.9;
}

nav {
  float: right;
  padding: 2em;
  margin-right: 10em; /* Need to change to % */
}

nav a{
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 1em;
    display: inline-block;
}

/*need to determine how much*/
span {
	height: 2em;
}
a:hover  {
  cursor: auto;
   opacity: 0.6;
   border-bottom: 1em;
}

a:active {
  color:#D97077;
  
}

b {
  color: #D97077;
}

#work img {
  text-align: center;
  margin: auto;
  display: inline;
  padding-right: 1em;
  width: 45%;
}

#work {
  background: white;
  color: #D97077;
  width: 100%;
/* need to change? */
  margin: auto;
  height: 500px;
  }

/* need to change */
sidebar {
  width: 45%;
  float: left;
  display: inline;
  font-size: 3em;
  margin-top: 15%;
  text-align: center;
}


.arrow:hover
    opacity:0.6;

}

/*need to change? */
footer {
  font-weight: 200;
  font-size: 1em;
  background: #D97077;
  text-align: center;
  padding: 2em;
  margin: auto;


}
footer a {
  padding: 1em;
  
}

/*ipad mini*/
@media screen and (device-width: 768px) and (deviceheight:
1024px) and (-webkit-device-pixel-ratio: 1) {
	
	body {
	float: none;
	width: auto;
	font-size: ;
	}
	h1 {
		text-align: center;
	}
	nav a {
		display: block;
		text-align: center;
		margin: 0;
	}
}

/*iphone 5*/
@media screen and (device-width: 320px) and
(device-height: 568px) and (-webkit-device-pixel-ratio:
2) {
	body {
	float: none;
	width: auto;
	font-size: ;
	}
	h1 {
		text-align: center;
	}
	nav a {
		display: block;
		text-align: center;
		margin: 0;
	}

}
